@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500,600,900");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
  --bg: #a495bd url("/images/bg.webp") bottom left;
  --bgcolor: #348cb2;
  --txcolor: #202020;
  --boxbg: #fff;
  --ballbg: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  --overlay: url("/images/overlay-pattern.png"), url("/images/overlay.svg");
  --bgskill: #f9f9f9;
  --bgicon: #e5e5e5


}
html{
  scroll-behavior: smooth;
}
*::-webkit-scrollbar {
  width: 2px;
  height: 0px;
  
}


*::-webkit-scrollbar-track {
  background: #3838387a;
}

*::-webkit-scrollbar-thumb {
  background-color: #252525;
  border-radius: 10px;
  border: 0px none #ffffff;
}

.dark{
  --bg: #000014 url("/images/bgnigth.webp") bottom left;
  --bgcolor: #1e1f2b;
  --txcolor: #e0e0e0;
  --boxbg: #242424;
  --ballbg: linear-gradient(120deg, #d4a1fd 0%, #c6c2fb 100%);
  --overlay: url("/images/overlay-pattern.png"), url("/images/overlayblack.svg");
  --bgskill: #2f2f2f;
  --bgicon: #242424;
}

* {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Source Sans Pro', sans-serif;
  
}

.app{
  overflow: hidden;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--boxbg);
}
.home{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  z-index: 20;
}
#tsparticles canvas{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.contactfull{
  position: absolute;
  right: 1em;
  top: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.copBg{
  backface-visibility: hidden;
  background-repeat: repeat-x;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 11;
  background-size: 750px auto;
  background: var(--bgcolor);
}
.bg {
  background: var(--bg) ;
  backface-visibility: hidden;
  background-repeat: repeat-x;
  height: 100vh;
  position: relative;
  left: 0;
  top: 0;
  -moz-animation: bg 60s linear infinite;
  -webkit-animation: bg 60s linear infinite;
  -ms-animation: bg 60s linear infinite;
  animation: bg 120s linear infinite;
  width:7050px;
  z-index: 11;
  background-size: 750px auto;
}

.down{
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}
.down i{
  font-size: 1.5em;
  font-weight: 600;
  color: white;
  animation: bing 1s infinite;
}
@keyframes bing {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}




.overlay {
  -moz-animation: overlay 2.5s 0s linear;
  -webkit-animation: overlay 2.5s 0s linear;
  -ms-animation: overlay 2.5s 0s linear;
  animation: overlay 2.5s 0s linear;
  background-image: var(--overlay) ;
  background-position: top left, center center;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  height: 100vh;
  left: 0;
  opacity: 1;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 11;
}

.icons-container{
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin-top: 50px;
  list-style: none;
  
  font-size: 1.5em;
}
a{
  color: #fff;
  
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
}

.icon{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0);
  padding: .2rem;
  border: 1px solid white;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}
.icon:hover{
  transform: scale(1.1);
  background: rgba(255, 255, 255, 0.185);
}

.about-nav .icon {
  border: 1px solid var(--txcolor);
}

.about-nav .icon i{
  color: var(--txcolor);
}



@keyframes bg {
  0% {
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    -moz-transform: translate3d(-2250px, 0, 0);
    -webkit-transform: translate3d(-2250px, 0, 0);
    -ms-transform: translate3d(-2250px, 0, 0);
    transform: translate3d(-2250px, 0, 0);
  }
}
@keyframes overlay {
  0% {
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.name{
  font-size: 2rem;
  color: white

}
.subtitle{
  font-size: 1rem;
  color: white;
}
.about-conatiner{
  background-color: var(--boxbg);
  width: 100%;
  
  padding: 1em;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about{
  display: flex;
  gap: 1em;
  flex-direction: column;
  max-width: 1350px;
  height: 100%;
}

.about-title{
  color: var(--txcolor);
  font-size: 3rem;
  font-family: 'Raleway', sans-serif;
  margin-bottom: .5em;
  position: relative;
}
.about-text{
  width: 100%;
  position: relative;
  z-index: 1;
}
.about p{
  color: var(--txcolor);
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
}
.about-logo{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.bgColor{
  width: 300px;
  height: 300px;
  background: linear-gradient(-45deg, #2654ee 50%, #0eb5df 50%);
  filter: blur(80px);
  position: absolute;
  z-index: 0;
}


.logo{
  font-size: 7rem;
  color: rgba(0, 0, 0, 0.158);
  position: relative;
}
.skills-container{
  width: 100%;
  padding: 1em;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}
.skills-section{
  display: flex ;
  flex-direction: column;
  
}
.skills{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1350px;
  gap: 1em;
  justify-content: center;
}
.skill{
  display: flex;
  flex-direction: column  ;
  
  padding: 1em;
  width: 100%;
  max-width: 300px;
  height: 200px;
  background-color: var(--bgskill);
  border-radius: 15px;
  position: relative;
  transition: transform .1s linear;
}

.skill:hover{
  transform: scale(1.03);
}

.title-skill{
  font-size: 1rem;
  color: var(--txcolor);
  font-weight: 400;
}
.text-skill{
  font-size: .8rem;
  color: var(--txcolor);
  font-weight: 300;
}
.container-icon{
  width:60px;
  height: 60px;
  background-color: var(--bgicon);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin-bottom: .5em;
}
.skill img{
  width: 40px;
  height: 40px;
}
.skill i{
  font-size: 2rem;
}
.html i{
  color: #ff7300;
}
.css i{
  color: #00aeff;
  
}
.js i{
 color: rgb(255, 251, 0);
}
.react i{
  color: blue
}

.git i{
  color: orange;
}

.github i{
  color: #213547;
}
.npm i{
  color: rgb(241, 80, 80);
}
/* .about{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-nav{
  background-color: var(--boxbg);
  width: 100%;
  height: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
  position: fixed;
  top: 0;
}
.about-nav h1{
  color: var(--txcolor);
}
.about-container{
  width:100%;
  display: flex;
  flex-direction: column;
  
  
}
.content{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3em;
}
.box1{
  width: 100%;
  background-color: var(--boxbg);
  padding-top: 7em;
  padding-bottom: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.title{
  border: 1px solid rgb(32, 32, 32);
  color: #ffffff;
  border-radius: 5px;
  margin-bottom: 1rem;
  width: 40%;
  max-width: 200px;
  margin-bottom: 1em;
}
.title:hover{
  background: rgba(255, 255, 255, 0.185);
}
.about-text{
  background-color: rgba(23, 179, 75, 0);
  padding: 1em;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  width: 100%;
}
.about-text p{
  margin: .7em 0;
  color: var(--txcolor);
  font-weight: 600;
}
.about-text-rigth{
  width: 50%;
  background-color: #ffffff00;
  display: none;
  justify-content: center;
  
}

.ball{
  width: 300px;
  height: 300px;
  background-image: var(--ballbg);
  border-radius: 40% 60% 70% 30% / 61% 50% 50% 39% ;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ball h2{
  font-size: 4rem;
  color: var(--txcolor);
}
.contact{
  width:100%;
  display: flex;
  max-width: 300px;
  justify-content: space-around;
}
.skills{
  display: flex;
  gap: .5em;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 600px;
  padding: 1em;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.37);
  backdrop-filter: blur(10px);
}
.skill{
  background-color: rgba(255, 255, 255, 0.185);
  padding: .5em;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: .5em;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  transition: transform 0.3s ease;
  font-weight: 500;
}

.skill:hover{
  transform: scale(1.1);
  background: rgba(131, 231, 248, 0.342);
  filter: none;
}
.skill i,img{
  font-size: 2rem;
  height: 30px;
  width: 30px;
  
}


.isGame-button{
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.507);
  padding: .5em;
  margin-bottom: 2em;
  border-radius: 10px;
  color: #213547;
  font-weight: bold;
}
.isGame-button:active{
  transform: scale(0.99);
}

.skill.down {
  background: #fafafa42;
}

.skill.up {
  background: #b5f098;
}

.skill.selected {
  background: #ffbf1c;
}


 .css, .html, .js, .react {
  width: 300px;
  height: 200px;
  background: rgba(247, 247, 247, 0.185);
  padding: 1em;
  text-align: left;
} 




 */




@media (min-width: 600px) {
  .bg {
    background-size: 950px auto;
  }
}
@media (min-width: 660px) {
  
  .name{
    font-size: 3.5rem;
  }
  .subtitle{
    font-size: 1.4rem;
  }
  .about{
    flex-direction: row;
  }
  .about-text{
    width: 50%;
  }
  .about-conatiner, .skills-container, .portafolio{
    padding: 2em;
  }
}
@media (min-width: 1200px) {
  .bg {
    background-size: 1150px auto;
  }
  .name{
    font-size: 4rem;
  }
  .subtitle{
    font-size: 1.4rem;
  }
  
}
@media (max-height: 600px) {
  .bg {
    background-size: 450px auto;
  }
}
@media (min-width: 3000px) {
  .bg {
    background-size: 3000px auto;
  }
  .name{
    font-size: 6rem;
  }
  .subtitle{
    font-size: 2rem;
  }
  .icons-container{
    margin-top: 100px;
    max-width: 800px;
    font-size: 2rem;
  }
  .title{
    font-size: 4rem;
    max-width: 500px;
    border: 4px solid white;
  }
  .icon{
    width: 100px;
    height: 100px;
    font-size: 2rem;
  }
}
